body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--text-color)
}

/* chandlerdavidson.dev */
body {
  --text-color: #00FF41;
  --background-color: black;
}
