.scene {
  width: 80vh;
  height: 80vh;
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  perspective: 160vh;
}

.cube {
  width: 100%;
  height: 100%;
  
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* .cube.front  { transform: translateZ(-40vh) rotateY(   0deg); }
.cube.back   { transform: translateZ(-40vh) rotateX(-180deg); }
.cube.top    { transform: translateZ(-40vh) rotateX( -90deg); }
.cube.bottom { transform: translateZ(-40vh) rotateX(  90deg); } */

.face {
  width: 80vh;
  height: 80vh;

  position: absolute;

  line-height: 80vh;
  font-size: 15vh;
  font-weight: bold;
  color: white;
  text-align: center;
  border: 1px dotted blue;
}

#front  { background: hsl(0deg 0% 54%); }
#back   { background: hsl(0deg 0% 54%); }
#top    { background: hsl(0deg 0% 54%); }
#bottom { background: hsl(0deg 0% 54%); }

#front  { transform: rotateY(  0deg) translateZ(40vh); }
#back   { transform: rotateY(180deg) rotateZ(180deg) translateZ(40vh); }
#top    { transform: rotateX( 90deg) translateZ(40vh); }
#bottom { transform: rotateX(-90deg) translateZ(40vh); }
