.right {
  float: right;
}

.right a {
  margin-left: 1em;
}

.title {
  text-decoration: none;
  display: inline;
}

@media (max-width: 750px) {
  .title {
    font-size: medium;
    line-height: '0.8'
  }
}

@media (max-width: 350px) {
  .title {
    font-size: small;
  }
}