.postContainer {
  margin: 16px;
  width: 80%;
  margin: 0 10% 10% 10%;
}

.title {
  text-align: center;
}

.subtitle {
  font-size: 1.5vmax;
  font-weight: normal;
  text-align: center;
  margin-top: -1vmin;
}


@media (max-width: 750px) {
  .title {
    font-size: medium;
  }
}